@using Data
@using ConexionConjugador

<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" style="justify-content: center;">
    <label><input class="uk-checkbox" style="margin-right:0.2rem;" type="checkbox" name="negar" @onchange="e => opciones[0] = !opciones[0]">Negar la conjugación</label>
    <label><input class="uk-checkbox" style="margin-right:0.2rem;" type="checkbox" name="femenino" @onchange="e => { opciones[1] = !opciones[1]; ChangeSubjects(); }">Sujeto femenino</label>
    <label><input class="uk-checkbox" style="margin-right:0.2rem;" type="checkbox" name="pronominal" @onchange="e => opciones[2] = !opciones[2]" disabled="@noTieneCodigo">Pronominal</label>
    <label><input class="uk-checkbox" style="margin-right:0.2rem;" type="checkbox" name="frecuencia" @onchange="e => opciones[3] = !opciones[3]">Frecuencia en el CREA</label>
</div>
<FormasImpersonales formasImpersonales="formasImpersonales" negar="opciones[0]"></FormasImpersonales>

<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" style="justify-content: center;">
    <label><input class="uk-radio" style="margin-right:0.2rem;" type="radio" name="spanish_dialect" checked="@(modo == 0)" @onchange="e => { modo = 0; ChangeSubjects(); } ">España</label>
    <label><input class="uk-radio" style="margin-right:0.2rem;" type="radio" name="spanish_dialect" checked="@(modo == 1)" @onchange="e => { modo = 1; ChangeSubjects(); } ">Río de la Plata (voseo)</label>
    <label><input class="uk-radio" style="margin-right:0.2rem;" type="radio" name="spanish_dialect" checked="@(modo == 2)" @onchange="e => { modo = 2; ChangeSubjects(); } ">Canarias (ustedes)</label>
    <label><input class="uk-radio" style="margin-right:0.2rem;" type="radio" name="spanish_dialect" checked="@(modo == 3)" @onchange="e => { modo = 3; ChangeSubjects(); } ">Tratamiento formal, de respeto o cortesía</label>
</div>

<div id="simple_times_card" class="uk-card uk-card-default uk-card-body">
    <div class="uk-flex uk-flex-between card-heading">
        <h3 class="uk-card-title">
            Tiempos simples
        </h3>
        <div>
            <button class="uk-button uk-button-text close-btn"
                    uk-toggle="target: #simple_tense_conjugation; animation: uk-animation-fade"
                    type="button"
                    onclick="toggle()">
                Less
            </button>
        </div>
    </div>
    <div id="simple_tense_conjugation">
        <div uk-filter="target: .js-filter">
            <ul class="uk-subnav uk-subnav-pill">
                <li uk-filter-control><a href="#">Todos los tiempos</a></li>
                <li uk-filter-control="[data-time='indicativo']" data-color="green"><a href="#">Tiempo indicativo</a></li>
                <li uk-filter-control="[data-time='subjuntivo']" data-color="blue"><a href="#">Tiempo subjuntivo</a></li>
                <li uk-filter-control="[data-time='imperativo']" data-color="red"><a href="#">Tiempo imperativo</a></li>
            </ul>
            <ul class="js-filter">
                <li data-time="indicativo">
                    @if (indicativo != null)
                    {
                        <div id="simple_times_indicative" class="uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-small" uk-grid>
                            @foreach (ConjugacionVerbo conjugacion in indicativo.conjugaciones)
                            {
                                <TiempoVerbal nombreConjugacion="conjugacion.nombreConjugacion" 
                                              lenguajeConjugacion="(modo == 0 ? conjugacion.conjEsp : (modo == 1 ? conjugacion.conjVos : (modo == 2 ? conjugacion.conjCan : conjugacion.conjFor)))" 
                                              modo="0"
                                              notasSeleccionadas="notasSeleccionadas"
                                              opciones="opciones" 
                                              sujetos="sujetos"
                                              pronombres="pronombres"></TiempoVerbal>
                            }
                        </div>
                    }
                </li>
                <hr />
                <li data-time="subjuntivo">
                    @if (subjuntivo != null)
                    {
                        <div id="simple_times_subjunctive" class="uk-grid-match uk-grid-small" uk-grid>
                            @foreach (ConjugacionVerbo conjugacion in subjuntivo.conjugaciones)
                            {
                                <TiempoVerbal nombreConjugacion="conjugacion.nombreConjugacion" 
                                              lenguajeConjugacion="(modo == 0 ? conjugacion.conjEsp : (modo == 1 ? conjugacion.conjVos : (modo == 2 ? conjugacion.conjCan : conjugacion.conjFor)))"
                                              modo="1" 
                                              notasSeleccionadas="notasSeleccionadas" 
                                              opciones="opciones" 
                                              sujetos="sujetos"
                                              pronombres="pronombres"></TiempoVerbal>
                            }
                        </div>
                    }
                </li>
                <hr />
                <li data-time="imperativo">
                    @if (imperativo != null)
                    {
                        <div id="simple_times_imperative" class="uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-small" uk-grid>
                            @foreach (ConjugacionVerbo conjugacion in imperativo.conjugaciones)
                            {
                                <TiempoVerbal nombreConjugacion="conjugacion.nombreConjugacion" 
                                              lenguajeConjugacion="(modo == 0 ? conjugacion.conjEsp : (modo == 1 ? conjugacion.conjVos : (modo == 2 ? conjugacion.conjCan : conjugacion.conjFor)))"
                                              modo="2" 
                                              notasSeleccionadas="notasSeleccionadas" 
                                              opciones="opciones"
                                              sujetos="sujetos"
                                              pronombres="pronombres"></TiempoVerbal>
                            }
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    [Parameter] public ModoVerbo indicativo { get; set; }
    [Parameter] public ModoVerbo subjuntivo { get; set; }
    [Parameter] public ModoVerbo imperativo { get; set; }
    [Parameter] public string[] formasImpersonales { get; set; }
    [Parameter] public List<int> notasSeleccionadas { get; set; }
    private bool[] opciones { get; set; } //negar conjugación, femenino, pronominal, frecuencia en el CREA
    [Parameter] public int modo { get; set; } = 0; //0 => español, 1 => voseo, 2 => canario, 3 => formal
    [Parameter] public bool noTieneCodigo { get; set; } = true;
    public string[] sujetos = { "yo", "tú", "él", "nosotros", "vosotros", "ellos" };
    public string[] pronombres = { "me", "te", "se", "nos", "os", "se" };
}

@functions{
    protected override void OnInitialized()
    {
        opciones = new bool[] { false, false, false, false };
    }

    private void ManageListOfOptions(int index)
    {
        opciones[index] = !opciones[index];
    }

    private void ChangeSubjects()
    {
        sujetos = new String[] { "yo", "tú", "él", "nosotros", "vosotros", "ellos" };
        pronombres = new String[] { "me", "te", "se", "nos", "os", "se" };
        //primero los checkboxes del género y luego el radio del modo
        if (opciones[1])
        {
            sujetos[2] = "ella";
            sujetos[3] = "nosotras";
            sujetos[4] = "vosotras";
            sujetos[5] = "ellas";
        }
        switch (modo)
        {
            case 1:
                sujetos[1] = "vos";
                sujetos[4] = "ustedes";

                pronombres[4] = "se";
                
                break;
            case 2:
                sujetos[4] = "ustedes";

                pronombres[4] = "se";
                
                break;
            case 3:
                sujetos[1] = "usted";
                sujetos[4] = "ustedes";
                
                pronombres[2] = "se";
                pronombres[4] = "se";
                
                break;
            default:
                break;
        }
    }
}
